#options
{
    width: 200px;
    margin-right: 25px;
    padding: 7px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    color: white;
    background-color: black;
}


#options:disabled {
   
    background-color: #F5F5DC;
    color: black;
}

#options:hover{
    background-color: red;
    color: white;
}